In [ ]:
import numpy as np#library, it adds support for large, multi-dimensional arrays and matrices, it contains mathematical functions to operate on these arrays
import pandas as pd #numpy is a prerequisite. It organizes data and manipulate the data by putting it in a tabular form
import matplotlib.pyplot as plt #It creates a figure, creates a plotting area in a figure, plots some lines in a plotting area, decorates the plot with labels
import math
import csv

In [ ]:
csvs = [pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/4e_2011.csv'),
        pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/4mu_2011.csv'),
        pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/2e2mu_2011.csv')]
csvs += [pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/4mu_2012.csv'), 
         pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/4e_2012.csv'), 
         pd.read_csv('https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/2e2mu_2012.csv')]

In [ ]:
fourlep = pd.concat(csvs)
pd.options.display.max_columns = 42
pd.options.display.max_rows=5
#print(type(fourlep))
fourlep.head()

,Run,Event,PID1,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,PID2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,PID3,E3,px3,py3,pz3,pt3,eta3,phi3,Q3,PID4,E4,px4,py4,pz4,pt4,eta4,phi4,Q4,mZ1,mZ2,M
0,167675,876658967,-11,46.2967,-45.4721,-8.61010,-1.24072,46.2801,-0.026806,-2.954460,1,11,45.8568,43.53670,14.370800,-0.940301,45.8472,-0.020508,0.318824,-1,-11,27.2561,-13.673400,-19.65970,13.01640,23.94720,0.519816,-2.178500,1,11,7.57191,-0.091305,7.280830,-2.07727,7.28140,-0.281549,1.583340,-1,91.9271,27.3974,125.5280
1,173243,16706390,11,352.0970,-58.3284,-8.93069,347.11700,59.0081,2.472280,-2.989660,-1,-11,124.2200,55.88820,-7.347430,110.694000,56.3691,1.427300,-0.130717,1,-11,169.3830,23.004300,33.20870,164.49500,40.39820,2.111990,0.964974,1,11,28.82550,7.339310,-25.118200,-12.08810,26.16850,-0.446908,-1.286520,-1,91.4178,92.9952,285.9600
2,171106,141954801,11,49.6757,-8.9885,44.24350,-20.72180,45.1473,-0.444228,1.771230,-1,11,68.4708,41.22040,-0.639024,-54.669200,41.2253,-1.094270,-0.015501,-1,-11,42.6373,-0.600474,-39.76270,15.37870,39.76730,0.377676,-1.585900,1,-11,36.52990,-36.407800,0.928434,-2.83553,36.41960,-0.077779,3.116100,1,91.5484,87.7217,186.9150
3,163758,113529826,-11,112.0390,-19.2226,25.67490,107.35000,32.0735,1.922810,2.213460,1,11,26.6863,6.94914,-23.053800,11.506000,24.0784,0.461317,-1.278030,-1,-11,10.1663,2.352000,-9.35977,-3.19643,9.65076,-0.325435,-1.324610,1,11,12.23760,3.981140,6.144260,9.80604,7.32130,1.102240,0.995867,-1,70.4304,20.1941,100.9230
4,172952,842265702,-11,87.6280,41.7576,11.55910,-76.16670,43.3279,-1.329820,0.270053,1,11,37.9247,-20.51050,24.684600,-20.205800,32.0938,-0.594030,2.264100,-1,-11,11.3639,-6.933620,6.40937,-6.32315,9.44220,-0.627642,2.395460,1,11,26.68220,-0.119199,-9.074940,-25.09120,9.07572,-1.741270,-1.583930,-1,68.6352,20.0945,95.4259

In [ ]:
#elétron1
def mass1(x,e,i):
  pid13=(abs(x['PID1'].iloc[i]) and abs(x['PID2'].iloc[i])!=13)
  if (x['PID1'].iloc[i]!=x['PID2'].iloc[i]) and pid13:
    return (math.sqrt(2*pow(e,2)+2*(x['E1'].iloc[i]*x['E2'].iloc[i]-(x['px1'].iloc[i]*x['px2'].iloc[i] + x['py1'].iloc[i]*x['py2'].iloc[i] + x['pz1'].iloc[i]*x['pz2'].iloc[i]))))
    
e=0.511e-3   #massa do elétron em GeV
for i in range(len(fourlep)):
     me1 = mass1(fourlep,e,i)
     print(me1)

In [ ]:
#print(me1)

In [ ]:
#elétron2
def mass2(x,e,i):
  if x['PID3'].iloc[i]!=x['PID4'].iloc[i] and x['PID3'].iloc[i]!=13 and x['PID3'].iloc[i]!=-13 and x['PID4'].iloc[i]!=13 and x['PID4'].iloc[i]!=-13:
    return (math.sqrt(2*pow(e,2)+2*(x['E3'].iloc[i]*x['E4'].iloc[i]-(x['px3'].iloc[i]*x['px4'].iloc[i] + x['py3'].iloc[i]*x['py4'].iloc[i] + x['pz3'].iloc[i]*x['pz4'].iloc[i]))))
e=0.511e-3   #massa do elétron em GeV
for i in range(len(fourlep)):
  me2 = mass2(fourlep,e,i)
  print(me2)

In [ ]:
#muon1
def mass1(x,u,i):
  if x['PID1'].iloc[i]!=x['PID2'].iloc[i] and x['PID1'].iloc[i]!=11 and x['PID1'].iloc[i]!=-11 and x['PID2'].iloc[i]!=-11 and x['PID2'].iloc[i]!=11:
    return (math.sqrt(2*pow(u,2)+2*(x['E1'].iloc[i]*x['E2'].iloc[i]-(x['px1'].iloc[i]*x['px2'].iloc[i] + x['py1'].iloc[i]*x['py2'].iloc[i] + x['pz1'].iloc[i]*x['pz2'].iloc[i]))))
u=0.1056583715   #massa do muon em GeV
for i in range(len(fourlep)):
  mu1 = mass1(fourlep,u,i)
  print(mu1)

In [ ]:
#muon2
def mass2(x,u,i):
  if x['PID3'].iloc[i]!=fourlep['PID4'].iloc[i] and x['PID3'].iloc[i]!=11 and x['PID3'].iloc[i]!=-11 and x['PID4'].iloc[i]!=11 and x['PID4'].iloc[i]!=-11:
    return (math.sqrt(2*pow(u,2)+2*(x['E3'].iloc[i]*x['E4'].iloc[i]-(x['px3'].iloc[i]*x['px4'].iloc[i] + x['py3'].iloc[i]*x['py4'].iloc[i] + x['pz3'].iloc[i]*x['pz4'].iloc[i]))))
u=0.1056583715    #massa do muon em GeV
for i in range(len(fourlep)):
  mu2 = mass2(fourlep,u,i)
  print(mu2)